body {
    min-width: 900px;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}


h1 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto", "Arial", sans-serif;
}

h2 {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: medium;
    font-family: "Roboto", "Arial", sans-serif;
}

.features-title {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: medium;
    font-family: "Roboto", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  color: #ffffff;
  padding-top: 10px;
}

.slider {
  position: relative;
  padding-top: 382px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 60px;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 10px 42px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:   linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:   linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:    linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;

}

.logo {
  height: 70px;
  width: 154px;
  margin-right: 10px;
  float: left;
}

.main-navigation {
  min-height: 70px;
  font-size: 0px;
  min-width: 370px;
  float: left;
}

.main-navigation, .main-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}


.main-navigation a {
  display: block;
  padding: 7px 14px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation-link:hover {
  background: #f7f6f3;
  border-radius: 15px;
  color: #000000;
  margin-bottom: 5px;
}

.main-navigation-link:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.subnav {
  width: 142px;
  background: #f8f7f4;
  color: #4c4c4c;
  border-radius: 5px;
  position: absolute;
  top: 37px;
  left: -8px;
  padding: 0;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4)
}

.has-submenu:hover .subnav {
  opacity: 1;
  visibility: visible;
}

.subnav a {
  display: block;
  color: #4c4c4c;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.subnav-item {
  display: block;
}

.subnav-item:last-child {
  padding-bottom: 10px;
}

.subnav-item:hover {
  background: #fbded7;
  width: 100%;
}

.subnav-item:active {
  background: #f6b5a5;
  width: 100%;
}

.subnav b::after {
  content: "";
  position: absolute;
  width: 150%;
  right: 8px;
  bottom: 0;
  left: 8px;
  height: 1px;
  background-color: #4c4c4c;
  opacity: 0.2;
}

.user-block {
  float: right;
  max-width: 300px;
}

.user-block > a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: medium;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.user-block > a:hover {
  background: #f7f6f3;
  border-radius: 15px;
  color: #000000;
}


.search {
  width: 4px;
  height: 15px;
  padding: 7px 14px;
  border-radius: 20px;
  margin-right: 12px;
}

.search::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 17px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -591px;
}

.search:hover::before {
  background-position: -5px -618px;
}

.login {
  padding: 7px 20px 7px 44px;
  margin-right: 14px;
}

.login::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;
  width: 21px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -65px;
}

.login:hover::before {
  background-position: -5px -94px;
}

.basket {
  padding: 7px 35px 7px 45px;
  background: #f7f6f3;
}

.basket::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 22px;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -5px;
}

.basket:hover::before {
background-position: -5px -35px;
}

.basket-full {
  padding: 7px 20px 5px 20px;
}

.basket-full::before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: 0;
  left: -8px;
  width: 21px;
  height: 20px;
  text-decoration: none;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -35px;
}

.basket-full::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.table-basket {
  position: absolute;
  top: 44px;
  right: 100px;
  width: 540px;
  min-height: 240px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  box-sizing: border-box;
  z-index: 1;
}

.table-basket tr {
  width: 500px;
  height: 50px;
}

.table-basket tr::before {
    content: "";
    position: absolute;
    width: 95%;
    left: 15px;
    top: 140px;
    height: 1px;
    background-color: #323232;
}


.table-basket td {
  vertical-align: middle;
  text-align: center;
  padding: 10px 5px;
}

.table-basket .table-tr-title {
  width: 230px;
  text-align: left;
}

.table-basket span {
  margin-top: 10px;
  float: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.table-basket .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 15px;
}

.table-basket .table-link {
  position: absolute;
  top: 40px;
  left: 14px;
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.table-basket .table-link::before,
.table-basket .table-link::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 15px;
  height: 1px;
  background-color: #323232;
  border-radius: 1px;
}

.table-basket .table-link::before {
  transform: rotate(45deg);
}

.table-basket .table-link::after {
  transform: rotate(-45deg);
}

.table-basket::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.basket-full:hover + .table-basket {
  opacity: 1;
  visibility: visible;
}

.search-form {
  position: absolute;
  top: 44px;
  right: 350px;
  width: 340px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
}

.search::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.search:hover + .search-form {
  opacity: 1;
  visibility: visible;
}

.login-form {
  position: absolute;
  top: 44px;
  right: 240px;
  width: 340px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
}

.login::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.login:hover + .login-form {
  opacity: 1;
  visibility: visible;
}

 input[type="search"] {
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  width: 310px;
  height: 44px;
  margin: 20px 15px;
  padding-left: 16px;
  border-radius: 6px;
  color: #a0a0a0;
}

.login-form {
  width: 278px;
  margin: 0 auto;
  padding: 20px 18px;
  box-sizing: border-box;
}

input[type="email"], input[type="password"], input[type="text"] {
 background-color: #ffffff;
 border: 1px solid #d3d3d2;
 width: 224px;
 height: 44px;
 margin-bottom: 20px;
 border-radius: 6px;
 color: #a0a0a0;
}

.login-btn {
  width: 100px;
  height: 44px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 100px;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.forget-new {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 44px;
  margin-left: 12px;
}

.forget-new a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.user-block input:focus {
  border: 2px solid #8fbdec;
  border-radius: 10px;
}

.user-block label {
  display: none;
}

.time-work {
  float: right;
}

.time-work b {
  font-size: 22px;
  line-height: 24px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    min-width: 220px;
    margin-bottom: 10px;
    list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 22px;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 15px;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 0 #fff,
              3px 3px 0 #849d8f,
              4px 4px 0 #fff;
  background: transparent;
}

.breadcrumbs .current::after {
  display: none;
}

.promo {
  float: left;
  width: 862px;
  margin-top: 40px;
}

.promo-item {
  float: left;
  width: 420px;
  height: 230px;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 14px 20px 14px 18px;
  border-radius: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  box-sizing: border-box;
  background: #7d0e2e url("../img/raspberry.png") no-repeat;
}

.promo-item:last-child {
  background: #462c23 url("../img/chocolate.png") no-repeat;
  margin-right: 0;
}

.promo-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.btn {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #f16542;
  text-decoration: none;
  padding: 13px 23px;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:   linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:   linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:    linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-btn {
  float: right;
}

.catalog-filter {
  font-size: 0px;
  min-height: 70px;
  width: 860px;
  margin-bottom: 40px;
}

.filter-group {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 10px 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}


.filter-group h2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.sorting {
  min-width: 194px;
  height: 36px;
  border-radius: 20px;
  padding-left: 14px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #ffffff;
}

.sorting:hover {
  background: #ffffff;
  color: #343434;
}

.price-controls {
  position: relative;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  padding-left: 10px;
}

.price-controls input {
  width: 52px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  margin-left: 20px;
  width: 60%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;

}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 60%;
}

.filter-group:nth-child(3) {
  display: inline-block;
  vertical-align: top;
  width: 420px;
  margin-right: 10px;
}

.filter-radio label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
}

input[type="radio"]{
    display:none;
}

.filter-radio label::before {
  content: "";
	display: inline-block;
  width: 20px;
	height: 20px;
  margin-right: 10px;
  position: absolute;
	left: 0;
	background-color: none;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
	}

  input[type=radio]:checked + label::before {
	    content: "\2022";
	    color: #f3f3f3;
	    font-size: 50px;
      line-height: 23px;
	    text-align: center;
}

  .filter-group:nth-child(4) {
    display: inline-block;
    vertical-align: top;
    width: 700px;
    margin-right: 10px;
}

  input[type=checkbox] {
    display: none;
}

.filter-checkbox label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
}


.filter-checkbox label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  background-color: none;
  border: 1px solid #f8f7f4;
  border-radius: 3px;
}

.filter-checkbox input[type=checkbox]:checked + label:before {
  content: "\2713";
  font-size: 20px;
  color: #f8f7f4;
  text-align: center;
  line-height: 15px;
}

.btn-transparent {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 auto;
  padding: 12px 28px;
  font-size: 14px;
  line-height: 16px;
  color: #f8f7f4;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #353535;
  background: #ffffff;
}

.btn-transparent:active {
  color: #353535;
  background-color: rgb(237, 237, 237);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}


.catalog {
  min-height: 280px;
  float: left;
  width: 860px;
  font-size: 0px;
  margin-bottom: 40px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  font-weight: medium;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-name {
  margin-top: 6px;
}


.catalog-item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 220px;
  height: 370px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background-position: -1px -15px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.catalog-item:hover {
  z-index: 5;
  text-decoration: none;
}

.catalog-item .btn {
  padding: 15px 0;
  width: 200px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%);
}

.catalog-item .btn {
  display: none;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .btn {
  display: block;
}


.catalog-price {
  position: absolute;
  left: 0;
  top: 140px;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-price span {
  margin-left: 24px;
  font-size: 28px;
}

.catalog-price::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 44px;
  width: 27px;
  height: 32px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -549px;
}

.catalog-index .catalog-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -194px;
}

.features {
  float: left;
  width: 860px;
  min-height: 374px;
  margin-bottom: 40px;
  padding-left: 20px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #323232;
  box-sizing: border-box;
  border-radius: 15px;
  background: #e9ddc1 url("../img/pattern.png") repeat;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: medium;
  color: #323232;
}

.features-item {
  float: left;
  position: relative;
  width: 400px;
  min-height: 150px;
  padding-left: 55px;
  box-sizing: border-box;
}

.features-item:nth-child(2n) {
  margin-right: 0;
}

.feature-technology::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background:  url("../img/sprite.png") no-repeat;
  background-position: -5px -324px;
}

.feature-ecomilk::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 49px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -265px;
}

.feature-quality::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -383px;
}

.feature-thermopack::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 49px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -442px;
}

.blog-preview {
  position: relative;
  float: left;
  width: 420px;
  margin-right: 20px;
  margin-bottom: 40px;
  height: 220px;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #5a5a5a;
  border-radius: 15px;
  background: #ffffff url("../img/strawberry.jpg") right bottom no-repeat;
  padding: 0 20px;
  box-sizing: border-box;
}

.blog-preview b {
  display: block;
  margin-top: 26px;
}

.blog-preview a {
  width: 296px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #353535;
  background: rgba(255,255,255,0.8);
  box-sizing: border-box;
}

.subscribe {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #5a5a5a;
  float: right;
  width: 420px;
  min-height: 220px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 10px, #92cdff 10px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px);
  border-radius: 15px;
  box-sizing: border-box;
  z-index: 1;
}

.subscribe::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 408px;
  height: 209px;
  border-radius: 15px;
  background: #f8f7f4;
  z-index: -1;
}

.subscribe .email {
  background-color: #ffffff;
  border: 2px solid #d3d3d2;
  width: 228px;
  height: 44px;
  border-radius: 10px;
  padding-left: 16px;
  color: #a0a0a0;
}

.subscribe p {
  margin: 20px 24px;
}

.subscribe input {
  margin-left: 24px;
}

.subscribe input:focus {
  border: 2px solid #8fbdec;
  border-radius: 10px;
}

.subscribe label {
  display: none;
}

.subscribe .btn {
  padding: 0;
  margin-left: 12px;
  width: 128px;
  height: 44px;
}

.map {
  width: 100%;
  height: 430px;
  background-image: url("../img/map.jpg");
}

.pagination {
  position: relative;
  margin: 50px 40px;
  font-size: 0;
  text-align: right;
}

.pagination::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 535px;
  width: 12px;
  height: 12px;
  box-shadow: 2px 2px  0 #ffffff;
  transform: rotate(-225deg);
  opacity: 0.2;
}

.pagination::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -20px;
  width: 12px;
  height: 12px;
  box-shadow: 2px 2px  0 #ffffff;
  transform: rotate(-45deg);
}

.pagination li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 30px;
  color: #ffffff;
  line-height: 30px;
  margin-left: 15px;
  text-align: center;
}

.pagination li:hover {
  color: #000000;
  background: #fff;
  border-radius: 50%;
}

.pagination li:first-child {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 30px;
  color: #fff;
  line-height: 30px;
  margin-left: 15px;
  text-align: center;
  color: #000000;
  background: #fff;
  border-radius: 50%;

}

.pagination a {
  color: #000;
  text-decoration: none;
  padding: 5px 8px;
}

.main-footer {
  position: relative;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 25px;
  padding-left: 20px;
  font-size: 0px;
}

.feedback-form {
  position: absolute;
  right: 0;
  top: -360px;
  margin: 0;
  padding: 10px 20px;
  width: 300px;
  height: 306px;
  background: #f8f7f4;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
  border-radius: 5px;
  box-sizing: border-box;
}

.feedback-form .btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.feedback-form b {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.feedback-form p {
  display: block;
}


.main-footer a {
  color: #f7f8f8;
}

.footer-social {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 200px;
  font-size: 10px;
}

.social-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0 5px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background:  url("../img/sprite.png") no-repeat center;
}

.social-btn-twit {
  background-position: -5px -645px;
}

.social-btn-inst {
  background-position: -5px -501px;
}

.social-btn-fb {
  background-position: -5px -123px;
}

.social-btn-vk {
  background-position: -5px -693px;
}

.footer-menu {
  display: inline-block;
  vertical-align: middle;
  width: 420px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.footer-menu-item {
  position: relative;
  float: left;
  width: 180px;
}

.footer-menu-item span {
  display: block;
}

.footer-menu-item:first-child {
  padding-left: 50px;
}

.heart-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 15px;
  height: 13px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -5px -171px;
}

.footer-copyright {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 200px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;

}

.footer-copyright::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 110px;
  height: 38px;
  background: url("../img/html.png") no-repeat;
}

.overlay {
  position: absolute;
  top: 338px;
  left: 50%;
  margin-left: -240px;
  width: 480px;
  height: 446px;
  padding: 23px 24px;
  color: #999999;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
}

.overlay-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.overlay-close::before,
.overlay-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 25px;
  height: 2px;
  background-color: #323232;
  border-radius: 1px;
}

.overlay-close::before {
  transform: rotate(45deg);
}

.overlay-close::after {
  transform: rotate(-45deg);
}

.overlay-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #323232;
}

.overlay-massage textarea {
  padding: 5px 10px;
  color: #999999;
  width: 420px;
  height: 150px;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
}

.overlay .btn {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.overlay label {
  display: none;
}
