body {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    font-weight: normal;
    font-family: "Roboto", "Arial", sans-serif;
}

h1 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto", "Arial", sans-serif;
}

h2 {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: medium;
    font-family: "Roboto", "Arial", sans-serif;
}

.features-title {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: medium;
    font-family: "Roboto", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  background-color: green;
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: red;
}

.logo {
  min-height: 70px;
  width: 154px;
  margin-right: 10px;
  float: left;
  background-color: yellow;
}

.main-navigation {
  min-height: 70px;
  font-size: 0px;
  width: 370px;
  float: left;
  background-color: yellow;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.main-navigation .subnav {
  position: absolute;
  margin: 0;
  padding: 0;
}


.time-work {
  float: right;
}

.inner-main {
  background-color: green;
}

.breadcrumbs {
    margin: 0;
    width: 220px;
    margin-bottom: 10px;
    background-color: yellow;
}

.promo {
  float: left;
  background-color: yellow;
}

.promo-item {
  float: left;
  width: 420px;
  margin-right: 20px;
  margin-bottom: 40px;
  min-height: 80px;
  background-color: green;
}

.promo-item:last-child {
  margin-right: 0;
}

.catalog-filter {
  margin: 0;
  font-size: 0px;
  min-height: 70px;
  width: 860px;
  background-color: yellow;
}

.filter-group {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: green;
}

.filter-group:nth-child(3) {
  display: inline-block;
  vertical-align: top;
  width: 420px;
  margin-right: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: green;
}

.filter-group:nth-child(4) {
  display: inline-block;
  vertical-align: top;
  width: 700px;
  margin-right: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: green;
}

.catalog {
  min-height: 325px;
  float: left;
  width: 860px;
  font-size: 0px;
  margin-bottom: 40px;
  background-color: yellow;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 20px;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: green;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  float: left;
  width: 860px;
  background-color: yellow;
  min-height: 375px;
  margin-bottom: 40px;
  padding: 30px 20px;
  box-sizing: border-box;
}

.features-item {
  float:left;
  width: 400px;
  background-color: green;

}

.blog-preview {
  float: left;
  width: 420px;
  margin-right: 20px;
  margin-bottom: 40px;
  min-height: 220px;
  background-color: yellow;
}

.subscribe {
  float: right;
  width: 420px;
  margin-bottom: 40px;
  min-height: 220px;
  background-color: yellow;
}

.pagination {
  background-color: green;
  clear: both;
  font-size: 16px;
}

.feedback-form-tip {
  margin: 0;
}

.main-footer {
  background-color: green;
  font-size: 0px;
}

.footer-social {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  margin-right: 20px;
  padding-top: 37px;
  min-height: 90px;
  font-size: 16px;
  background-color: yellow;
}

.footer-menu {
  display: inline-block;
  vertical-align: middle;
  width: 420px;
  padding-top: 37px;
  margin-right: 20px;
  min-height: 90px;
  font-size: 16px;
  background-color: yellow;
}

.footer-copyright {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding-top: 20px;
  min-height: 90px;
  font-size: 16px;
  background-color: yellow;
}
