body {
    min-width: 900px;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: normal;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}


h1 {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Roboto", "Arial", sans-serif;
}

h2 {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    font-weight: medium;
    font-family: "Roboto", "Arial", sans-serif;
}

.features-title {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    font-weight: medium;
    font-family: "Roboto", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  color: #ffffff;
  padding-top: 10px;
}

.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 60px;
  font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 45px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:   linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:   linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:    linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background: rgba(255,255,255,0.4);
}


#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.content-wrapper {
  width: 860px;
  margin: 0 auto;
  padding: 0 20px;

}

.logo {
  height: 70px;
  width: 154px;
  margin-right: 10px;
  float: left;
}

.main-navigation {
  min-height: 70px;
  font-size: 0px;
  min-width: 370px;
  float: left;
}

.main-navigation, .main-navigation-list {
  margin: 0;
  padding: 6px 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}


.main-navigation a {
  display: block;
  padding: 7px 14px;
  color: #ffffff;
}

.main-navigation-link-active {
  background: #d07058;
  border-radius: 15px;
  color: #323232;
  margin-bottom: 5px;
  text-decoration: none;
}


.main-navigation-link:hover {
  background: #f7f6f3;
  border-radius: 15px;
  color: #323232;
  margin-bottom: 5px;
  text-decoration: none;
}

.main-navigation-link:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px 0px #696969;
  text-decoration: none;
}

.subnav {
  width: 142px;
  background: #f8f7f4;
  color: #4c4c4c;
  border-radius: 5px;
  position: absolute;
  top: 37px;
  left: -8px;
  padding: 0;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4)
}

.has-submenu:hover .subnav {
  opacity: 1;
  visibility: visible;
}

.subnav a {
  display: block;
  color: #4c4c4c;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.subnav-item {
  display: block;
}

.subnav-item:last-child {
  padding-bottom: 10px;
}

.subnav-item:hover {
  background: #fbded7;
  width: 100%;
}

.subnav-item:active {
  background: #f6b5a5;
  width: 100%;
}

.subnav b::after {
  content: "";
  position: absolute;
  width: 150%;
  right: 8px;
  bottom: 0;
  left: 8px;
  height: 1px;
  background-color: #4c4c4c;
  opacity: 0.2;
}

.subnav-link {
  text-decoration: none;
}

.subnav-item .active {
  background: #d07058;
  width: 120%;
  color: #ffffff;
}

.user-block {
  position: relative;
  float: right;
  max-width: 300px;
  margin: 14px 0px;
}

.search, .login, .basket {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  background: rgba(255,255,255,0.2);
  border-radius: 20px;
}

.search:hover, .login:hover {
  background: #f7f6f3;
  border-radius: 15px;
  color: #000000;
}

.search {
  width: 5px;
  height: 18px;
  padding: 7px 14px;
  border-radius: 20px;
  margin-right: 6px;
}

.search::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 8px;
  width: 17px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -586px;
}

.search:hover::before {
  background-position: 0 -613px;
}

.login {
  padding: 7px 16px 7px 44px;
  margin-right: 6px;
}

.login::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 17px;
  width: 21px;
  height: 19px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -60px;
}

.login:hover::before {
  background-position: 0 -89px;
}

.basket {
  padding: 7px 35px 7px 45px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 28px;
  transform: translate(-50%, -50%);
  width: 21px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 0;
}

.basket-full {
  padding: 7px 18px 4px 22px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  text-decoration: none;
  background: #f7f6f3;
  border-radius: 20px;
}

.basket-full::before {
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: top;
  top: -2px;
  left: -6px;
  width: 21px;
  height: 20px;
  text-decoration: none;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -30px;
}

.basket-full::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.table-basket {
  position: absolute;
  top: 35px;
  right: 0;
  width: 542px;
  min-height: 240px;
  margin: 0 auto;
  padding: 20px 15px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  box-sizing: border-box;
  z-index: 1;
}

.table-basket tr {
  width: 500px;
  height: 50px;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}

.table-basket tr::before {
    content: "";
    position: absolute;
    width: 95%;
    left: 15px;
    top: 140px;
    height: 1px;
    background-color: #cacac7;
}

.table-basket td {
  vertical-align: top;
  text-align: center;
  padding: 10px 5px;
}

.table-basket td:nth-of-type(2) {
  padding-top: 0;
}

.table-basket .table-tr-title {
  width: 230px;
  text-align: left;
}

.table-basket span {
  display: block;
  text-align: right;
  margin-top: 16px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.table-basket .btn {
  float: right;
  margin-top: 16px;
}

.table-basket .table-link {
  position: relative;
  width: 12px;
  height: 12px;
  font-size: 10px;
  border: 0;
  cursor: pointer;
  display: block;
}

.table-basket .table-link::before,
.table-basket .table-link::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -1px;
  width: 12px;
  height: 1px;
  background-color: #323232;
  border-radius: 1px;
}

.table-basket .table-link::before {
  transform: rotate(45deg);
}

.table-basket .table-link::after {
  transform: rotate(-45deg);
}

.table-basket::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.basket-full:hover + .table-basket, .table-basket:hover {
  opacity: 1;
  visibility: visible;
}

.search-form {
  position: absolute;
  top: 38px;
  left: -306px;
  width: 340px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  z-index: 1;
}

.search::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.search:hover + .search-form, .search-form:hover {
  opacity: 1;
  visibility: visible;
}

.login-form {
  position: absolute;
  top: 40px;
  left: -142px;
  width: 340px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
  z-index: 10;
}

.login::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 0;
  padding: 10px 0;
  width: 100%;
  height: 10%;
  background: transparent;
}

.login:hover + .login-form, .login-form:hover {
  opacity: 1;
  visibility: visible;
}

 input[type="search"] {
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  width: 310px;
  height: 44px;
  margin: 20px 15px;
  padding-left: 16px;
  border-radius: 6px;
  color: #a0a0a0;
}

input[type="search"]:hover {
  border: 2px solid #d3d3d2;
  padding-left: 15px;
}

input[type="search"]:focus {
  border: 2px solid #2e88e4;
  padding-left: 15px;
}

.login-form {
  width: 278px;
  margin: 0 auto;
  padding: 20px 18px;
  box-sizing: border-box;
}

input[type="email"], input[type="password"], input[type="text"] {
 background-color: #ffffff;
 border: 1px solid #d3d3d2;
 width: 224px;
 height: 40px;
 margin-bottom: 20px;
 padding: 4px 10px;
 border-radius: 6px;
 color: #a0a0a0;
}

input[type="email"]:hover, input[type="password"]:hover, input[type="text"]:hover {
  border: 2px solid #d3d3d2;
  padding: 3px 9px;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
  border: 2px solid #2e88e4;
  padding: 3px 9px;
}


.login-btn {
  width: 100px;
  height: 44px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}


.forget-new {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 44px;
  margin-left: 12px;
}

.forget-new a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.forget-new a:hover {
  color: #e84d37;
}

.user-block input:focus {
  border: 2px solid #8fbdec;
  border-radius: 10px;
}

.user-block label {
  display: none;
}

.time-work {
  float: right;
}

.time-work p {
  margin: 0;
}

.time-work b {
  font-size: 22px;
  line-height: 24px;
}

.inner-main {
  margin-top: -18px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
    margin: 0;
    padding: 0;
    min-width: 220px;
    margin-bottom: 5px;
    list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 19px;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 14px;
  width: 5px;
  height: 5px;
  transform: rotate(-45deg);
  box-shadow: 1px 1px 0 #fff,
              3px 3px 0 #849d8f,
              4px 4px 0 #fff;
  background: transparent;
}

.breadcrumbs .current::after {
  display: none;
}

.promo {
  float: left;
  width: 862px;
  margin-top: 40px;
}

.promo-item {
  float: left;
  width: 420px;
  height: 229px;
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 14px 20px 14px 18px;
  border-radius: 14px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  box-sizing: border-box;
  background: #7d0e2e url("../img/raspberry.png") no-repeat;
}

.promo-item p {
  margin-top: 18px;
  margin-bottom: 22px;
}

.promo-item:last-child {
  background: #462c23 url("../img/chocolate.png") no-repeat;
  margin-right: 0;
}

.promo-name {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}


.btn {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  background-color: #f16542;
  text-decoration: none;
  padding: 13px 23px;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:   linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:   linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:    linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-btn {
  float: right;
  padding: 10px 23px;
}

.inner-main h1 {
  margin-bottom: 24px;
}

.inner-main h2 {
  margin: 0;
  padding: 0;
}


.catalog-filter {
  font-size: 0px;
  min-height: 70px;
  width: 860px;
  margin-bottom: 30px;
}

.filter-group {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 200px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  box-sizing: border-box;
}

.filter-group h2, label {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

.sorting {
  width: 192px;
  height: 36px;
  border-radius: 20px;
  padding-left: 11px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.sorting:hover {
  background: #ffffff;
  color: #343434;
}

.price-controls {
  position: relative;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding-right: 5px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  display: inline-block;
}

.price-controls input {
  width: 52px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  min-width: 194px;
  height: 36px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 16px;
  box-sizing: border-box;
}

.range-controls .scale {
  position: absolute;
  top: 50%;
  width: 83%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
}

.range-controls .bar {
  margin-left: 20px;
  width: 60%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.range-toggle-min {
  left: 30px;
}

.range-toggle-max {
  left: 60%;
}

.filter-group:nth-child(3) {
  display: inline-block;
  vertical-align: top;
  width: 420px;
  margin-right: 10px;
}

.filter-radio label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  padding-top: 8px;
  margin-right: 15px;
}

.filter-radio-wrapper {
  width: 100%;
  height: 36px;
  border-radius: 15px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

input[type="radio"]{
    display:none;
}

.filter-radio label::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 20px;
	height: 20px;
  margin-right: 10px;
	left: 0;
	background-color: none;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
}

  .filter-radio input[type=radio]:checked + label::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    width: 10px;
  	height: 10px;
    margin-right: 10px;
  	background-color: #f3f3f3;
    border: 1px solid #f8f7f4;
    border-radius: 50%;
}

  .filter-group:nth-child(4) {
    display: inline-block;
    vertical-align: top;
    width: 704px;
    margin-right: 10px;
}

.filter-checkbox-wrapper {
  width: 100%;
  height: 36px;
  border-radius: 20px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

  input[type=checkbox] {
    display: none;
}

.filter-checkbox label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  padding-left: 35px;
  padding-top: 7px;
  margin-right: 17px;
}

.filter-checkbox label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  left: 0;
  top: 6px;
  background-color: none;
  border: 2px solid #f8f7f4;
  border-radius: 3px;
}

.filter-checkbox input[type=checkbox]:checked + label:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 7px;
  left: 1px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -46px -2px;
}

.btn-transparent {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 auto;
  padding: 8px 29px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #f8f7f4;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #353535;
  background: #ffffff;
}

.btn-transparent:active {
  color: #353535;
  background: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
  padding: 10px 31px;
  border: none;
}

.catalog {
  min-height: 280px;
  float: left;
  width: 860px;
  font-size: 0px;
  margin-bottom: 20px;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin-right: 20px;
  padding-bottom: 17px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  font-weight: medium;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-name {
  margin-top: 6px;
}


.catalog-item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 220px;
  height: 362px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  background-position: -1px -15px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}

.catalog-item:hover {
  z-index: 5;
  text-decoration: none;
}

.catalog-item .btn {
  padding: 10px 0;
  width: 194px;
  position: absolute;
  top: 289px;
  left: 50%;
  transform: translate(-50%);
}


.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover .btn {
  display: block;
}


.catalog-price {
  position: absolute;
  left: 0;
  top: 140px;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-price span {
  margin-left: 24px;
  font-size: 28px;
}

.catalog-price::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 44px;
  width: 27px;
  height: 32px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -544px;
}

.catalog-index .catalog-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -189px;
}

.features {
  float: left;
  width: 860px;
  margin-bottom: 40px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #323232;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background: #e9ddc1 url("../img/pattern.png") repeat;
}

.features p {
  padding-top: 5px;
}

.features-title {
  display: block;
  width: 720px;
  font-size: 24px;
  line-height: 30px;
  font-weight: medium;
  color: #323232;
  margin-top: 24px;
  margin-bottom: 8px;
  padding-left: 20px;
}

.features-item {
  float: left;
  position: relative;
  width: 420px;
  padding-left: 77px;
  box-sizing: border-box;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 21px;
  width: 49px;
  height: 49px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -319px;
}

.feature-ecomilk::before {
  background-position: 0 -260px;
}

.feature-quality::before {
  background-position: 0 -378px;
}

.feature-thermopack::before {
  background-position: 0 -438px;
}

.blog-preview {
  position: relative;
  float: left;
  width: 420px;
  margin-right: 20px;
  margin-bottom: 40px;
  height: 220px;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #5a5a5a;
  border-radius: 15px;
  background: #ffffff url("../img/strawberry.jpg") right bottom no-repeat;
  padding: 0 20px;
  box-sizing: border-box;
}

.blog-preview b {
  display: block;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-preview a {
  width: 296px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #353535;
  background: rgba(255,255,255,0.8);
  box-sizing: border-box;
}

.blog-preview a:hover {
  color: #e84d37;
}

.blog-preview span {
  display: block;
}

.subscribe {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
  float: right;
  width: 420px;
  min-height: 220px;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 10px, #92cdff 10px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px);
  border-radius: 15px;
  box-sizing: border-box;
  z-index: 1;
}

.subscribe::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 6px;
  width: 408px;
  height: 212px;
  border-radius: 15px;
  background: #f8f7f4;
  z-index: -1;
}

.subscribe .email {
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  width: 212px;
  height: 40px;
  border-radius: 5px;
  padding-left: 15px;
}

.subscribe p {
  margin: 33px 26px 16px 26px;
}

.subscribe input {
  margin-left: 26px;
}

.subscribe input[type="email"]:hover {
  border: 2px solid #d3d3d2;
  padding-left: 14px;
}

.subscribe input[type="email"]:focus {
  border: 2px solid #2e88e4;
  border-radius: 5px;
  padding-left: 14px;
}

.subscribe label {
  display: none;
}

.subscribe .btn {
  padding: 0;
  margin-left: 8px;
  width: 128px;
  height: 44px;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 430px;
  background: url("../img/map.jpg") no-repeat center;
}

.pagination {
  position: relative;
  margin: 70px 0 10px 0;
  font-size: 0;
  text-align: right;
}

.prev, .next {
  background: red;
  font-size: 0;
}

.pagination::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 632px;
  width: 12px;
  height: 12px;
  box-shadow: 2px 2px  0 #ffffff;
  transform: rotate(-225deg);
  opacity: 0.2;
}

.pagination::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 16px;
  width: 12px;
  height: 12px;
  box-shadow: 2px 2px  0 #ffffff;
  transform: rotate(-45deg);
  cursor: pointer;

}

.pagination li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: 30px;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 8px;
}

.pagination-link:hover {
  padding: 5px 10px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
}

.pagination-link:active {
  padding: 5px 10px;
  background: rgb(255,255,255);
  color: #000000;
  border-radius: 50%;
}


.pagination .active {
  font-size: 16px;
  line-height: 30px;
  padding: 5px 10px;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border-radius: 50%;
}


.main-footer {
  position: relative;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 25px;
  font-size: 0px;
}

.contacts {
  position: absolute;
  right: 0;
  top: -368px;
  margin: 0;
  padding: 10px 20px;
  width: 300px;
  height: 306px;
  background: #f8f7f4;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
  border-radius: 10px;
  box-sizing: border-box;
}

.contacts .btn {
  position: absolute;
  bottom: 32px;
  left: 23px;
  padding: 10px 28px;}

.contacts b {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts p {
  display: block;
  padding-top: 5px;
  padding-left: 3px;
}

.main-footer {
  position: relative;
}

.main-footer::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,0.3);
}

.main-footer a {
  color: #f7f8f8;
}

.footer-social {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 200px;
  font-size: 10px;
}

.social-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: url("../img/sprite.png") no-repeat center;
  opacity: 0.8;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
}

.social-btn-twit {
  background-position: -46px -642px;
}

.social-btn-twit:hover {
  background-position: -46px -642px;
  opacity: 1;
  border: 3px solid rgba(255,255,255,0.7);
}

.social-btn-twit:active {
  background-position: -46px -642px;
  opacity: 0.7;
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-btn-inst {
  background-position: -46px -499px;
}

.social-btn-inst:hover {
  background-position: -46px -499px;
  opacity: 1;
  border: 3px solid rgba(255,255,255,0.7);
}

.social-btn-inst:active {
  background-position: -46px -499px;
  opacity: 0.7;
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-btn-fb {
  background-position: -46px -121px;
}

.social-btn-fb:hover {
  background-position: -46px -121px;
  opacity: 1;
  border: 3px solid rgba(255,255,255,0.7);
}

.social-btn-fb:active {
  background-position: -46px -121px;
  opacity: 0.7;
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-btn-vk {
  background-position: -46px -692px;
}

.social-btn-vk:hover {
  background-position: -46px -692px;
  opacity: 1;
  border: 3px solid rgba(255,255,255,0.7);
}

.social-btn-vk:active {
  background-position: -46px -692px;
  opacity: 0.7;
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.footer-menu {
  display: inline-block;
  vertical-align: middle;
  width: 420px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.footer-menu-item {
  position: relative;
  float: left;
  width: 180px;
}

.footer-menu-item span {
  display: block;
  font-weight: bold;
}

.footer-menu-item:first-child {
  padding-left: 59px;
  width: 140px;
}

.footer-menu-item a:hover, .footer-copyright a:hover {
  color: #ffbc9e;
}


.heart-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 36px;
  width: 15px;
  height: 13px;
  background: url("../img/sprite.png") no-repeat;
  background-position: 0 -166px;
}

.footer-copyright {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 200px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.footer-copyright::before {
  content: "";
  position: absolute;
  top: -37px;
  left: 30;
  width: 109px;
  height: 38px;
  background: url("../img/html.png") no-repeat;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 10;
  display: none;
}

.feedback-form{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -223px;
  width: 480px;
  height: 446px;
  padding: 23px 24px;
  color: #999999;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 20;
  display: none;
}

@keyframes bounce {
  0%   {transform: translateY(-2000px);}
  70%  {transform: translateY(30px);}
  90%  {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.feedback-form-show {
  display: block;
  animation: bounce 0.6s;
}

.overlay-show {
  display: block;
  animation: bounce 0.6s;
}


.feedback-form-close {
  position:absolute;
  top: 14px;
  right: 14px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.feedback-form-close::before,
.feedback-form-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -1px;
  width: 25px;
  height: 2px;
  background-color: #323232;
  border-radius: 1px;
}

.feedback-form-close::before {
  transform: rotate(45deg);
}

.feedback-form-close::after {
  transform: rotate(-45deg);
}

.feedback-form-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #323232;
  display: block;
  margin-bottom: 20px;
}

.feedback-form-massage textarea {
  padding: 10px 19px;
  color: #b4b4b4;
  width: 428px;
  height: 150px;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
  box-sizing: border-box;
  resize: none;
}

.feedback-form textarea:hover {
  border: 2px solid #d3d3d2;
}

.feedback-form textarea:focus {
  border: 2px solid #8fbdec;
  border-radius: 5px;
}

.feedback-form input[type="text"]:hover, .feedback-form input[type="email"]:hover {
  border: 2px solid #d3d3d2;
}

.feedback-form input[type="text"]:focus, .feedback-form input[type="email"]:focus {
  border: 2px solid #8fbdec;
  border-radius: 5px;
}

.feedback-form .btn {
  position: absolute;
  right: 26px;
  bottom: 20px;
  cursor: pointer;
}

.feedback-form label {
  display: none;
}
